.image-zoom-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  width: 100%;
  height: 100%;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.image-zoom-container:hover .zoom-image {
  opacity: 0;
}

.zoom-lens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 200%;
  background-repeat: no-repeat;
  pointer-events: none;
}
